global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'fastapi'
    static_configs:
      - targets: ['fastapi-inference:8000']

  - job_name: 'mlflow'
    static_configs:
      - targets: ['mlflow:5000']
